.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 50px;
  align-items: center;
  span {
    height: 30px;
    width: 30px;
    border: 1px solid #ccc;
    display: inline-block;
    text-align: center;
    line-height: 30px;
  }
  .active {
    border: 1px solid red;
  }
}
